index.php
test.php
vendor/
php_errors.log
fixture.zip
composer.lock
test2.php
.composer*
.phpunit.result.cache
ssl.cfg.ini  
fixture/pitsolu
fixture/pitsolu.pub
fixture/pitsolu_next
fixture/pitsolu_next.pub
fixture/cacert.pem
fixture/samweru
fixture/samweru.pub
cfg
.phpunit.cache/
